<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        
    <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <title>{% block title %} BasePage {%endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/dist/css/flat-ui.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="/static/myCss/mycss.css" rel="stylesheet">
        
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/staticassets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>
    
    <script src="/static/myJS/jquery-1.11.1.min.js" type="text/javascript"></script>
    {% block myjs %}{% endblock %}
    <script src="/static/myJS/myjs-general.js" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
        html {
            background: url() no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    
    body {
        padding-top: 20px;
        font-size: 16px;
        font-family: "Open Sans",serif;
        background: transparent;
    }
    
    h1 {
        font-family: "Abel", Arial, sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
    .panel {
        background-color: rgba(255, 255, 255, 0.9);
        top:80px;
        
    }
    
    .margin-base-vertical {
        margin: 40px 0;
    }
    </style>
    
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="row demo-row">
        <div class="col-xs-12" style="opacity: 0.98">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    {% block icon %}
                    <a class="navbar-brand" href="#">CRS</a>
                    {% endblock %}
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    {% block nav %}
                    {% endblock %}
                    <ul class="nav navbar-nav">
                        {% block home_nav %}<li ><a href="{% url 'CRSapp_home' %}">Home</a></li>{% endblock %}
                        {% block profile_nav %}<li ><a href="{% url 'CRSapp_profile' %}">Profile</a></li>{% endblock %}
                        {% block history_nav %}<li ><a href="{% url 'CRSapp_history' %}">RentalHistory</a></li>{% endblock %}
                     </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a href="/userlogout"><font>Logout</a></fron></li>
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
        </div>
    </div> <!-- /row -->
    
    
    <div class="container " style="margin-top:60px;width:1100px">
        {% block main %}
        <div class="jumbotron "role="form-select" style="position:fixed;float:left;width:400px;margin:10px;padding:10px">
            <form id="carform" action= "{% url 'CRSapp_ajax_get_cars' %}" method="get" style="margin-top:25px">
                <p>Select Your Car, Now!<p>
                <table class = "mytable_input">
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div id="time_error">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Pick-Up Date:</strong>
                        </td>
                        <td>
                            <div class='input-group date' id='datepicker1'>
                                <input name= "from_date" type='text' class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Pick-Up Time:</strong>
                        </td>
                        <td>
                            <div class='input-group date' id='timepicker1'>
                                <input name= "from_time" type='text' class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Drop-Off Date:</strong>
                        </td>
                        <td>
                            <div class='input-group date' id='datepicker2'>
                                <input name= "to_date" type='text' class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Drop-Off Time:</strong>
                        </td>
                        <td>
                            <div class='input-group date' id='timepicker2'>
                                <input name= "to_time" type='text' class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>CarType:</strong>
                        </td>
                        <td>
                            <select class="form-control" id="selectCarType" name="cartype" >
                                <option value="all">All</option>
                                {% for field in cartypes %}
                                <option value="{{field}}">{{field.cartype}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <p class="text-center">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Search" onclick="ajax_get_cars()"></p><br>
                    </form>
        </div>
        
        
        <div role="selected-content" style="overflow:auto;float:right;width:600px;margin:10px;padding:10px;background-color:#d0d0d0;border-radius:15px;">
            <ol id="mycars" style="list-style-type:none;margin:0px;padding:0px;">
                {% for car in cars %}
                <li id="{{car.id}}" class="myclass-border" >
                    <img style="float:left" src="{% url 'getcarpicture' car.id %}"  width="200px"/>
                    <div style="float:left;width:340px">
                        <p class="media-body media-heading" style="margin-left:20px">CIN:<a href="#"> <strong>{{car.CIN}}</strong></a></p>
                        <p class="media-body media-heading" style="margin-left:20px">TYPE:<a href="#"> <strong>{{car.cartype.cartype}}</strong></a></p>
                        <p class="media-body media-heading" style="margin-left:20px">FEE:  {{car.cartype.rentalfee}}</p>
                        <p class="media-body media-heading" style="margin-left:20px">STATUS: {{car.status}}</p>
                        <p class="media-body media-heading" style="margin-left:20px">MILES: {{car.mile}}</p>
                        
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
        
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog" style="top:80px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Welcome to Reserve a Car!
                        </h4>
                    </div>
                    <div class="modal-body" style="overflow:auto">
                        <div id = "reseverForm" role="inquiry-info">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                            data-dismiss="modal">Cancel
                        </button>
                        <button type="button" class="btn btn-primary">
                            Confirm
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        {% endblock %}
    </div>
        
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/assets/js/docs.min.js"></script>
    <script src="/static/dist/js/flat-ui.min.js"></script>
    <script src="/static/dist/js/application.js"></script>
    <script src="/static/myJS/myjs-general.js" type="text/javascript"></script>
    <script src="/static/moment.js" type="text/javascript"></script>
    <script src="/static/bootstrap-datetimepicker.js"></script>
  </body>
</html>
